<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2 class="mt-5">Login</h2>
    <a href="/panel" class="btn btn-primary mb-3">Back to Home</a>
    <!-- Mostrar mensajes de error si el login falla -->
    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

    <form th:action="@{/users/login}" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" class="form-control" required />
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="form-control" required />
        </div>

        <button  type="submit" class="btn btn-primary">Login</button>

    </form>
</div>
</body>
</html>
